*.dSYM
*.o
*.gch
*.pyc
*~
.*.swp
.context
.cproject
.DS_Store
.gdbinit
.gdb_history
.project
.settings
.swp
.~lock.*
Testing/
Packages/*
build/*
build_*/
core
cscope.out
cscope.in.out
cscope.po.out
Firmware.sublime-workspace
user.sublime*
/Documentation/doxy.log
/Documentation/html/
/Documentation/doxygen*objdb*tmp
.tags
tags
.tags_sorted_by_file
.pydevproject
.ropeproject
*.orig
Firmware.zip
*.generated.h
.vagrant
*.pretty
xcode
rootfs/
*.autosave
CMakeLists.txt.user
GPATH
GRTAGS
GTAGS
*.creator
*.creator.user
*.files
*.includes

# CLion ignores
.idea
cmake-build-*/

posix-configs/SITL/init/test/*_generated

/airframes.md
/airframes.xml
/parameters.md
/parameters.xml
/modules
/msg/ros/*.msg

*.gcov
.coverage
.coverage.*

# Added by Alberto Ruiz
ROMFS/px4fmu_common/init.d/airframes/13050_generic_vtol_octo
ROMFS/px4fmu_common/init.d/rc.rover_apps
ROMFS/px4fmu_common/init.d/rc.rover_defaults
ROMFS/px4fmu_common/mixers/rover_generic.main.mix
QGroundControl.AppImage
Tools/sitl_gazebo/
